.app-container {
  height: 100%;
}

.login-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-container {
    padding-left: 6px;
    padding-right: 6px;
    .login-form {
      .login-form-input {
        width: 100%;
      }
    }
    .login-controls {
      display: flex;
      justify-content: flex-end;
    }
    .facebook-login {
      width: 100%;
    }
  }
}
