<div class="app-container">
  <div class="login-screen">
    <div class="login-container">
      <div *ngIf="error" class="login-error">
        {{ error.message }}
      </div>
      <form class="login-form">
        <div class="login-fields">
          <mat-form-field class="login-form-input">
            <input
              matInput
              placeholder="Email"
              name="email"
              (input)="onInput($event)"
              [(ngModel)]="loginContext.email"
            />
          </mat-form-field>
          <mat-form-field class="login-form-input">
            <input
              matInput
              placeholder="Password"
              name="password"
              (input)="onInput($event)"
              [(ngModel)]="loginContext.password"
            />
          </mat-form-field>
        </div>
        <div class="login-controls">
          <button mat-button (click)="login()">Log in</button>
        </div>
      </form>
      <div class="social-login">
        <a href="{{ authUrls.facebook }}">
          <img src="assets/continue-with-facebook.png" class="facebook-login" />
        </a>
      </div>
    </div>
  </div>
</div>
