<div class="app-container">
  <div class="login-screen">
    <div class="login-container">
      <form class="login-form">
        <div class="login-fields">
          <mat-form-field class="login-form-input">
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="login-form-input">
            <input matInput placeholder="Password">
          </mat-form-field>
        </div>
        <div class="login-controls">
          <button mat-button>Log in</button>
        </div>
      </form>
      <div class="social-login">
        <a href="/oauth2">
          <img src="assets/continue-with-facebook.png" class="facebook-login" />
        </a>
      </div>
    </div>
  </div>
</div>
