.teach-container {
  min-height: 100%;
  margin-bottom: 42px;
}

.tracks {
  margin-top: 8px;
  .track {
    font-size: 20px;
    margin-bottom: 4px;
  }
}

.settings-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: white;
  text-align: right;
  width: 40px;
}
