.home {
  margin-top: 24px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 100px;
  }

  .home-title {
    font-size: 30px;
    text-align: center;
  }

  .learn-card {
    margin-top: 6px;
    margin-bottom: 6px;
    width: calc(100% - 48px);
  }

  .teach-card {
    margin-top: 6px;
    margin-bottom: 6px;
    width: calc(100% - 48px);
  }
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
